input[type="radio"]:checked + span {
	color: red;
}
.checkbox:checked + .box {
	display: none;
}
.button::before {
	content: attr(data-hide);
}
.checkbox:checked + .button::before {
	content: attr(data-show);
}
.checkbox:checked + .button + .box {
	display: none;
}